<ion-content>
  <figure class="ion-text-center ion-padding-vertical" > 
    <img src="assets/img/logo.jpg" alt="logo" height="100px" />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" ></ion-input>
    </ion-item>
    <div class="validation-error" >
      <ng-container *ngFor="let validation of validationMessages.email" >
        <div *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)" >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error" >
      <ng-container *ngFor="let validation of validationMessages.password" >
        <div *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)" >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button expand="full" shape="round" color="medium" 
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Iniciar sesión
    </ion-button>
  </form>
</ion-content>
<ion-footer >
  <ion-toolbar class="ion-text-center" >
    <ion-button expand="full" shape="round" fill="outline" color="medium" >Click para registrar</ion-button>
  </ion-toolbar>
</ion-footer>
