.row-toggle{
  margin-bottom: 6px;
}

.settingTitle{
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.settingDescription{
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #c0c0c0;
}