#header-page{

  margin-top: 25px;
 
  a{
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    margin: 0px 8px;
  }

}

ion-toolbar{
  --background: --ion-background-color;

  /*ion-button{
    text-decoration: underline;
  }*/

}