
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="book"></ion-icon>
      <ion-label>Your Library</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<!--
<ion-footer>
  <ion-progress-bar [value]="newTime" ></ion-progress-bar>
  <ion-toolbar *ngIf="currentSong" slot="bottom" >
    <ion-grid class="div-curent-music">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="2" >
          <img *ngIf="currentSong" [src]="song.imgAlbum" alt="img-song" >
          <img *ngIf="!currentSong" src="https://via.placeholder.com/50" alt="img-song" >
        </ion-col>
        <ion-col size="8" >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text id="nameSong" >{{ song.name || "Sin cancion" }}</ion-text>
                ■
                <ion-text id="nameArtist" >{{ song.nameArtists || "Sin cancion" }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="1"><ion-icon name="desktop" style="font-size: 12px;"></ion-icon></ion-col>
              <ion-col ><ion-text id="devicesAvaliable" >Devices Avaliable</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="2" >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon style="font-size: 20px;" name="heart-outline" ></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon style="font-size: 20px;" name="play" (click)="play()" *ngIf="!song.playing" ></ion-icon>
                <ion-icon style="font-size: 20px;" name="pause" (click)="pause()" *ngIf="song.playing" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="dividerFooter" ></div>
  <ion-toolbar>

    <hr>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="search"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="book"></ion-icon>
          <ion-label>Your Library</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>-->