<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" >
  <h1>Artists</h1>
  <ion-slides [options]="slideOps" *ngIf="artists.length">
    <ion-slide *ngFor="let artist of artists">
        <ion-avatar class="square-avatar" (click)="showSongs(artist)" >
            <img [src]="artist.images[0].url" alt="" />
            <span>{{ artist.name }}</span>
        </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Albums</h1>
  <ion-slides [options]="slideOps" *ngIf="albums.length">
    <ion-slide *ngFor="let album of albums">
        <ion-avatar class="square-avatar">
            <img [src]="album.images[0].url" alt="" />
            <span>{{ album.name }}</span>
        </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Canciones</h1>
  <ion-slides [options]="slideOps" *ngIf="songs.length">
    <ion-slide *ngFor="let song of songs">
        <ion-avatar class="square-avatar" >
            <img [src]="song.images[0].url" alt="" />
            <span>{{ song.song }}</span>
        </ion-avatar>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-progress-bar [value]="newTime" ></ion-progress-bar>
  <ion-toolbar *ngIf="currentSong">
    <ion-grid class="div-curent-music">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="2" >
          <img *ngIf="currentSong" [src]="song.imgAlbum" alt="img-song" >
          <img *ngIf="!currentSong" src="https://via.placeholder.com/50" alt="img-song" >
        </ion-col>
        <ion-col size="8" >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text id="nameSong" >{{ song.name || "Sin cancion" }}</ion-text>
                ■
                <ion-text id="nameArtist" >{{ song.nameArtists || "Sin cancion" }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="1"><ion-icon name="desktop" style="font-size: 12px;"></ion-icon></ion-col>
              <ion-col ><ion-text id="devicesAvaliable" >Devices Avaliable</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="2" >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon style="font-size: 20px;" name="heart-outline" ></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon style="font-size: 20px;" name="play" (click)="play()" *ngIf="!song.playing" ></ion-icon>
                <ion-icon style="font-size: 20px;" name="pause" (click)="pause()" *ngIf="song.playing" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="dividerFooter" ></div>
  <ion-toolbar>

    <hr>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="search"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="book"></ion-icon>
          <ion-label>Your Library</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>