ion-avatar{
  height: 150px;
  width: 90%;

  img{ 
    width: 200px;
    height: 100px;
    height: auto;
  }

}

ion-avatar span{
  font-size: 12px;
}

.square-avatar {

  --border-radius: 0;

}

.dividerFooter{
  padding: 1px;
}

.div-curent-music{
  padding: 0;
  
  ion-row{
    padding: 0;

    ion-col{
      padding: 0;
    }

  }
}

#devicesAvaliable{
  font-size: 12px;
}

#nameSong{
  font-size: 12px;
  font-weight: bold;
}

#nameArtist{
  font-size: 11px;
}