<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goToLogin()" >
      Back
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center ion-padding-vertical" > 
    <img src="assets/img/logo.jpg" alt="logo" height="100px" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name" ></ion-input>
    </ion-item>
    <div class="validation-error" >
      <ng-container *ngFor="let validation of validationMessages.name" >
        <div *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)" >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" ></ion-input>
    </ion-item>
    <div class="validation-error" >
      <ng-container *ngFor="let validation of validationMessages.email" >
        <div *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)" >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error" >
      <ng-container *ngFor="let validation of validationMessages.password" >
        <div *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)" >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    {{ errorMessage }}
    <ion-button expand="full" shape="round" color="medium" 
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Iniciar sesión
    </ion-button>

  </form>
</ion-content>
<ion-footer >
  <ion-toolbar class="ion-text-center" >
    <ion-button (click)="goToRegister()" expand="full" shape="round" fill="outline" color="medium" >Click para registrar</ion-button>
  </ion-toolbar>
</ion-footer>
