ion-avatar{
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

h1{
  margin-bottom: 0;
}

h2{
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 32px;
}

.row-header{
  font-size: 32px;
  font-weight: bold;
}

.success-background{
  background-color: var( --ion-color-success );
  color: var( --ion-color-dark );
  padding-bottom: 32px;
  padding-top: 16px;
}

#nameUser{
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

#seeProfile{
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  color: #c0c0c0;
}

.section{
  font-weight: bold;
  font-size: 16px;
}

.settingTitle{
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.settingDescription{
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #c0c0c0;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.titleDot{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.amountDot{
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #c0c0c0;
}