<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" >
  <div class="success-background" >

    <ion-avatar (click)="takePhoto()" >
      <img [src]="userImage" alt="" *ngIf="!photo" />
      <img [src]="photo" alt="" *ngIf="photo" />
    </ion-avatar>
    <h1>Alfredo Zum</h1>
    <h2>alfredo.conomia@gmail.com</h2>

    <ion-grid>
      <ion-row class="row-header ion-align-items-center ion-text-center" >
        <ion-col>140</ion-col>
        <ion-col>2k</ion-col>
        <ion-col>500</ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center" >
        <ion-col>Artistas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Canciones</ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
</ion-content>
